@(message: String, response:String)

@main(message) {

@*<div ng-view></div>*@
    <div ng-controller="MyController" ng-init="data=@response;">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Catalog timestamp</th>
                    <th>Facts timestamp</th>
                    <th>Report timestamp</th>
                    <th>Deactived</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="node in data" class="{{node.report_timestamp | moreThanOneDayRow}}">
                    <td><a href="/reports/{{node.name}}">{{node.name}}</a></td>
                    <td>{{node.catalog_timestamp | moment}}</td>
                    <td>{{node.facts_timestamp | moment}}</td>
                    <td>{{node.report_timestamp | moment}} <i class="{{node.report_timestamp | moreThanOneDayIcon}}"></i></td>
                    <td>{{node.deactived}}</td>
                    @*<td><span class="badge badge-{{event.status | status}}">{{event.status}}</span></td>*@
                </tr>

            </tbody>
        </table>

        <pre>{{data | json}}</pre>
    </div>
    
}